
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main" style="min-height: 3753px;">
    <!-- top tiles -->
    <!-- /top tiles -->

 </div>
<!-- /page content -->