body{
    margin: 0;
    padding: 0;
}
.all {
    height: 280vh;
    width: 100%;
    background-color: white;
}

.containers {
    top: 0;
    left: 0;
    position: relative;
    background-image: url(https://znews-photo.zingcdn.me/w660/Uploaded/aobhuua/2022_04_19/2023_Ferrari_296_GTS_00001.jpg);
    height: 50%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}



.search {
    margin: 20px;
}

    .search h3 {
        font-weight: normal;
    }
    .search h1 {
        font-weight: bolder;
        font-size:xx-large;
    }

    .input {
        display: inline-block;
        position: relative;
        filter: drop-shadow(0 1px #0091c2);
    }

 /*       .input:after {
            content: "";
            background: white;
            width: 4px;
            height: 20px;
            position: absolute;
            top: 40px;
            right: 2px;
            transform: rotate(135deg);
        }
*/
        .input input {
            color: white;
            font-size: 16px;
            background: transparent;
            cursor:pointer;
            width: 25px;
            height: 45px;
            padding: 10px;
            border: solid 3px white;
            outline: none;
            border-radius: 35px;
            transition: width 0.5s;
        }

            .input input::placeholder {
                color: #efefef;
                opacity: 0;
                transition: opacity 150ms ease-out;
            }

            .input input:focus::placeholder {
                opacity: 1;
            }

            .input input:focus,
            .input input:not(:placeholder-shown) {
                width: 350px;
            }


.nav {
    margin-top: 6%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
    padding: 0 50px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

    .nav .brand {
        width: 10%;
        text-align: center;
        color: white;
    }

.head-nav {
    height: 4%;
    background-color: black;
}

    .head-nav ul {
        float: left;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .head-nav li {
        list-style: none;
        width: 150px;
        text-align: center;
    }

    .head-nav ul li a {
        position: relative;
        display: block;
        height: 80px;
        line-height: 80px;
        padding: 0 20px;
        box-sizing: border-box;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s
    }

        .head-nav ul li a:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            transform-origin: right;
            z-index: -1;
            transform: scaleX(0);
            transition: transform 0.5s;
        }

        .head-nav ul li a:hover:before {
            transform-origin: left;
            transform: scaleX(1);
        }

        .head-nav ul li a:hover {
            color: #262626;
            text-decoration: underline;
            background-color: white;
        }

figure.snip0019 {
    color: #fff;
    position: relative;
    overflow: hidden;
    min-height:40px;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

    figure.snip0019 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    figure.snip0019 img {
        opacity: 1;
        width: 100%;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    figure.snip0019 figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        text-align: left;
    }

        figure.snip0019 figcaption > div {
            float: left;
            height: 350px;
            overflow: hidden;
            width: 50%;
            position: relative;
        }

        figure.snip0019 figcaption::before {
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: 50%;
            width: 2px;
            content: '';
            opacity: 0;
            background-color: rgba(255, 255, 255, 0);
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
        }

    figure.snip0019 h2,
    figure.snip0019 p {
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
        transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
    }

    figure.snip0019 h2 {
        text-align: center;
        display: inline-block;
        word-spacing: -0.1em;
        font-weight: 300;
        text-transform: uppercase;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        -webkit-transform: translate3d(50%, 0%, 0);
        transform: translate3d(50%, 0%, 0);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

        figure.snip0019 h2 span {
            font-weight: 800;
            color: cadetblue;
        }

    figure.snip0019 p {
        display: block;
        bottom: 0;
        text-align: left;
        font-weight: 300;
        top: 0%;
        color: #000;
        background: #ffffff;
        -webkit-transform: translate3d(-50%, 0%, 0);
        transform: translate3d(-50%, 0%, 0);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    figure.snip0019 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        color: #ffffff;
    }

    figure.snip0019:hover img {
        opacity: 0.7;
    }

    figure.snip0019:hover figcaption h2,
    figure.snip0019:hover figcaption p {
        -webkit-transform: translate3d(0%, 0%, 0);
        transform: translate3d(0%, 0%, 0);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    figure.snip0019:hover figcaption h2 {
        opacity: 1;
    }

    figure.snip0019:hover figcaption p {
        opacity: 1;
    }

    figure.snip0019:hover figcaption::before {
        background: #ffffff;
        top: 0px;
        bottom: 0px;
        opacity: 1;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
 /*footer*/
.contains {
    width: 100%;
    height: 350px;
    background-color: rgba(0,0,0,10);
    color: white;
    margin-top: 50px;
    padding-top:80px
}

#icon {
    display: flex;
    position: relative;

}
#icon i{
    margin-left: 7%;
}
.instagram {
    cursor: pointer;
    background: pink;
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.facebook {
    cursor: pointer;
    color: #515ECF;
}

.youtube {
    cursor: pointer;
    color: #d22e2e;
}


.info {
    display: flex;
    flex-wrap: wrap;
}

.about-content {
    width: 60%;
    position: relative;
    padding: 2% 0% 0% 7%;
}

    .about-content h2 {
        font-size: 200%;
    }

.link-content h2 {
    position: relative;
    font-weight: 700;
    margin-bottom: 13%;
}

    .link-content h2::before {
        content: '';
        position: absolute;
        bottom: -5%;
        left: 0;
        width: 10%;
        height: 8%;
        background: #f00;
    }

.link-content {
    padding-left: 5%;
}

    .link-content ul li {
        text-decoration: none;
        margin-bottom: 10%;
        font-size: larger;
    }

.vl {
    border-left: solid white;
    height: 200px;
    margin-left: 5%;
}

.link-content li:hover {
    color: rgba(64, 64, 238, 0.856);
}


@media only screen and (max-width: 991px) {
    .contain {
        height: auto;
    }

    .link-content {
        display: none;
        margin-left: 5%;
    }

    .about-content {
        font-size: medium;
        margin-left: 15%;
    }

    .contain i {
        margin-left: 10%;
        position: relative;
        font-size: 35px;
        margin-bottom: 15px;
    }

    .about-content p {
        display: none;
    }

    .about-content {
        width: 100%;
    }

        .about-content h2 {
            font-size: 14px;
            margin-left: 20%;
        }

    .vl {
        display: none;
    }

   
}
/*San pham*/

.list {
    margin: 10px;
    border-bottom: solid 2px;
    padding: 10px;
    background-color: white;
    padding-bottom: 4%;
}
.layout {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    width: 100%;
    padding-bottom:4%;
}
.item {
    width: 400px;
    height: 450px;
    border: solid 1px;
    background-color: white;
    padding-bottom:50px;
    color:black;
}

.img {
    width: 100%;
    height: 70%;
    background-color: blanchedalmond;
}
.btn-buy {
    border: none;
    color: white;
    width: 90px;
    padding: 10px 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #DA291C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px #888888;
}
    }
/* carousel*/

.slide-content {
    margin: 8px;
    width: 250px;
    height: 140px;
    background-color: lightgray;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

img {
    width: 100%;
    height:80%;
}

.slid-er {
    height: 180px;
    border-bottom: solid 1px;
    border-top: solid 1px;
    overflow: hidden;
    width: 100%;
    padding-top:2%;
}

    .slid-er .slides {
        display: flex;
    }

    .slid-er .slide {
        width: 258px; 
    }

.button-container {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: opacity 0.25s;
}

    .button-container:hover {
        opacity: 1;
    }

        .button-container:hover .button {
            transform: translate(-50%, -50%);
        }

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 12px));
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.25s;
    padding: 0 8px;
    border-radius: 12px;
    color: white;
    outline: 2px solid transparent;
}

    .button:after {
        
        margin: 0 3px 0 5px;
        filter: invert(1);
    }

    .button:hover {
        background-color: rgba(0, 0, 0, 0.9);
        outline: 2px solid gray;
    }
  /*Detail*/
.forDetail {
    position:relative;
    width: 100%;
    height: 50%;
    background-color: rgba(50, 48, 47, 1);
}
.btn-buy2 {
    color: white;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(50, 48, 47, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#o-info h3 {
    padding-left:5%;
    color:white;
}
#o-button i {
    color: white;
    cursor: pointer;
    padding-top:2% ;
    margin-left:-10%;
    opacity:0.5;
    text-transform:uppercase;
}

.OverViewDetail{
    width:100%;
    height:24%;
    padding-left:10px;
}
.OverViewDetail th{
    text-align:center;
}