body{
    margin: 0;
    padding: 0;
}
.container{
    height: 900px;
    width: 100%;
    display: flex;
}
.left{
width: 30%;
height: 100%;
background-color: yellow;
}
.right{
    width: 70%;
    background-color: blue;
    height: 100%;

}