
@{

    Layout = "~/Views/Shared/kenhLayout.cshtml";
}
<div class="forDetail">
    <div id="o-button">
        <i class="fa fa-chevron-left" aria-hidden="true" style="color:white">Trở về</i>
    </div>
    <div id="o-img">
        <img style="width:100%" src="~/Asset/488 GTB.jpg" >
    </div>
    <div id="o-info">
        <h3>Name</h3>
        <div style="float:right">
            <p>$300,000</p>
             <button class="btn-buy" >Mua</button>
        </div>
    </div>

</div>
<div class="OverViewDetail">
    <br>
    <h2>OverView</h2>
    <ul>
        <li>Thông số</li>

        <li>Động cơ</li>
    </ul>
</div>