@model List<Car>
@{

    Layout = "~/Views/Shared/kenhLayout.cshtml";
}
<
<div class="list">
    <h4 style="text-transform:uppercase;color:red">---------All Models</h4>
    
        <h1 style="margin-left:45%">Car Gallery</h1>
   
     <div  class="layout" >

        @foreach(Car c in Model)
        {
            <div class="item">
            <img class="img" src="~/Asset/@c.img" alt="sample11"/>
            <h2>@c.Name</h2>
            	
        </div>
        }
        
  
         </div>

             </div>
 <div class="new" style="background-color: rgba(40, 40, 40, 1);" >
     <h4 style="text-transform:uppercase;color:red">---------New Models</h4>
          <div class="slid-er" >
            <div class="slides" id="slides">
                <div class="slide">
                <div class="slide-content">
                 
                    <img src="~/Asset/812 GTS.jpg" loading="lazy" />
                    <div class="button-container">
                      <span class="button">812 GTS</span>
                    </div>
                </div>
              </div>
               <div class="slide">
                <div class="slide-content">
                 
                    <img src="~/Asset/F8 Spider.jpg" loading="lazy" />
                    <div class="button-container">
                      <span class="button">F8 Spider</span>
                    </div>
                </div>
              </div>
               <div class="slide">
                <div class="slide-content">
                 
                    <img src="~/Asset/Ferrari M.jpg" loading="lazy" />
                    <div class="button-container">
                      <span class="button">Ferrari M</span>
                    </div>
                </div>
              </div>
               <div class="slide">
                <div class="slide-content">
                 
                    <img src="~/Asset/SF90 Spider.jpg" loading="lazy" />
                    <div class="button-container">
                      <span class="button">SF90 Spider</span>
                    </div>
                </div>
              </div>
               <div class="slide">
                <div class="slide-content">
                 
                    <img src="~/Asset/F8 Spider.jpg" loading="lazy" />
                    <div class="button-container">
                      <span class="button">F8 Spider</span>
                    </div>
                </div>
              </div>
               <div class="slide">
                <div class="slide-content">
                 
                    <img src="~/Asset/F8 Spider.jpg" loading="lazy" />
                    <div class="button-container">
                      <span class="button">F8 Spider</span>
                    </div>
                </div>
              </div>
               <div class="slide">
                <div class="slide-content">
                 
                    <img src="~/Asset/F8 Spider.jpg" loading="lazy" />
                    <div class="button-container">
                      <span class="button">F8 Spider</span>
                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    
         
      
        
