@model List<Car>
@{

    Layout = "~/Views/Shared/kenhLayout.cshtml";
}
<div class="content">
            
        </div>
        <div class="all">
            <div class="head-nav">
                <ul>
                    <li><a href="">Giới Thiệu</a></li>
                    <li><a href=""> Ô tô</a></li>
                    <li><a href="">Xe máy</a></li>
                </ul>
            </div>
             <div class="container">
            
                <div class="nav">
                     <div class="brand">
                        <h2>QT AUTOMOBILE</h2>
                     </div>
                </div>
               
             </div>
      <div style="display: flex;">

        @foreach(Car c in Model)
        {
            <figure class="snip0019">
            <img src="~/Asset/@c.img" alt="sample11"/>
            <p>@c.Name</p>
            <figcaption>
                <div><h2>Bạn thích <span> sự mạnh mẽ</span>?</h2></div>
                <div><p>Hãy đến với mẫu xe hơi thể thao của chúng tôi.</p></div>
                <a href="#"></a>
            </figcaption>			
        </figure>
        }
        
       
      </div>
             
         
      
        
        <div class="footer"></div>
    </div>
