
@{

    Layout = "~/Views/Shared/kenhLayout.cshtml";
}

             <div class="containers">
            
                <div class="nav">
                     <div class="brand">
                        <h2>QT AUTOMOBILE</h2>
                     </div>
                </div>
<div class="flex" >
  <div class="search" style="padding-top:25%;padding-left:30%" >
      
    <h1 style="color: white;margin-bottom: 15px; text-shadow: 0 1px #0091c2;">Tìm kiếm thứ bạn cần ở chúng tôi</h1>
    <h3  style="color: white; margin-bottom: 15px;text-shadow: 0 1px #0091c2;">Click on search icon, then type your keyword.</h3>
    <div class="input">
      <input  type="text" placeholder="Tìm kiếm . . ." required>
    </div>
  </div>
</div>
             </div>
              <h4 style="text-transform:uppercase;color:red;margin-left:5%">---------OverView</h4>
      <div >
        <figure class="snip0019" style="height:400px">
            <img  src="~/Asset/ferrari.jpg" alt="sample11"/>
            <figcaption>
                <div><h2>Bạn thích <span> sự mạnh mẽ</span>?</h2></div>
                <div><h2 style="text-align: left;">Hãy đến với mẫu xe hơi thể thao của chúng tôi.</h2></div>
                <a href="#"></a>
            </figcaption>			
        </figure>
        <figure class="snip0019" style="height:400px">
            <img  src="~/Asset/moto.jpg" alt="sample11"/>
            <figcaption>
                <div><h2> <span style="color: rgb(25, 98, 225);"> moto </span> Và <span style="color: rgb(25, 98, 225);"> xe máy</span>?</h2></div>
            </figcaption>			
        </figure>

      </div>
     
<div id="ourserv">
					<article>
						<h1>Technical inspection...</h1>
						<img src="~/Asset/ferrari.jpg" alt="" />
						<p>Only after passing more than 201 technical inspections and checks can a Ferrari be called Approved, all of which established by Ferrari and carried out by specifically trained specialist technicians. </p>
						<a href="" class="rm">Read More</a>
					</article>
					<article>
						<h1>Provenance and Preparation</h1>
						<img src="~/Asset/Ducati Monster.jpg" alt="" />
						<p>The identity, mileage and history of each Ferrari Approved are checked to ensure that all required maintenance has been carried out and arrange for any assistance that may be necessary.</p>
						<a href="" class="rm">Read More</a>
					</article>
					<article class="lastarticle">
						<h1>Warranty & Assistance</h1>
						<img src="~/Asset/California T.jpg" alt="" />
						<p>Each Ferrari Approved comes with a warranty that covers many spare parts and repairs and offers Roadside Assistance for up to 24 months in Europe, Middle East &amp; Africa and 12 months in the rest of the world.</p>
						<a href="" class="rm">Read More</a>
					</article>
				</div>



       <div class="footer">

           @Html.Partial("_FooterPartialView")
        </div>
             
         
      
   
