
@{

    Layout = "~/Views/Shared/kenhLayout.cshtml";
}

             <div class="containers">
            
                <div class="nav">
                     <div class="brand">
                        <h2>QT AUTOMOBILE</h2>
                     </div>
                </div>
<div class="flex" >
  <div class="search" style="padding-top:25%;padding-left:30%" >
      
    <h1 style="color: white;margin-bottom: 15px; text-shadow: 0 1px #0091c2;">Tìm kiếm thứ bạn cần ở chúng tôi</h1>
    <h3  style="color: white; margin-bottom: 15px;text-shadow: 0 1px #0091c2;">Click on search icon, then type your keyword.</h3>
    <div class="input">
      <input style="width:"300px" type="text" placeholder="Tìm kiếm . . ." required>
    </div>
  </div>
</div>
             </div>
              <h4 style="text-transform:uppercase;color:red;margin-left:5%">---------OverView</h4>
      <div style="display: flex;">
        <figure class="snip0019">
            <img style="height:100%" src="~/Asset/ferrari.jpg" alt="sample11"/>
            <figcaption>
                <div><h2>Bạn thích <span> sự mạnh mẽ</span>?</h2></div>
                <div><p>Hãy đến với mẫu xe hơi thể thao của chúng tôi.</p></div>
                <a href="#"></a>
            </figcaption>			
        </figure>
        <figure class="snip0019">
            <img style="height:100%" src="~/Asset/moto.jpg" alt="sample11"/>
            <figcaption>
                <div><h2> <span style="color: rgb(25, 98, 225);"> moto </span> Và <span style="color: rgb(25, 98, 225);"> xe máy</span>?</h2></div>
            </figcaption>			
        </figure>
        <figure style="height:100%" class="snip0019">
            <img src="https://img.lovepik.com/photo/40172/7552.jpg_wh860.jpg" alt="sample11"/>
            <figcaption>
                <div><h2 >Phụ Kiện cho xe </h2></div>
            </figcaption>			
        </figure>
      </div>
       <div class="footer">

           @Html.Partial("_FooterPartialView")
        </div>
             
         
      
   
