 <div class="contains">
                <div class="info">
                    <div class="link-content">
                        <h2>Đường Dẫn</h2>
                        <ul style="cursor: pointer;list-style-type: none;">
                            <li>Trang chủ</li>
                            <li>Về chúng tôi</li>
                            <li>Thông tin liên lạc</li>
                            <li>Đánh giá</li>
                        </ul>
                    </div>
                    <div class="vl"> </div>
                    <div class="about-content">
                        <div id="icon">
                            <i class="fa fa-facebook-square  fa-2x facebook " aria-hidden="true"></i>
                            <i class="fa fa-instagram fa-2x instagram" aria-hidden="true"></i>
                            <i class="fa fa-youtube-play fa-2x youtube" aria-hidden="false"></i>
                        </div>

                        <h2 style="margin-top: 10px;">Đăng Kí Để Theo Dõi Những Mẫu Xe Mới Nhất </h2>

                    </div>
                </div>
            </div>  
