<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/demo.css">
    <title>Document</title>
</head>
<body>
<div class="content">
            @RenderBody()
        </div>
        <div class="all">
            <div class="head-nav">
                <ul>
                    <li><a href="">Giới Thiệu</a></li>
                    <li><a href=""> Ô tô</a></li>
                    <li><a href="">Xe máy</a></li>
                </ul>
            </div>
             <div class="container">
            
                <div class="nav">
                     <div class="brand">
                        <h2>QT AUTOMOBILE</h2>
                     </div>
                </div>
               
             </div>
      <div style="display: flex;">
        <figure class="snip0019">
            <img src="~/Asset/ferrari.jpg" alt="sample11"/>
            <figcaption>
                <div><h2>Bạn thích <span> sự mạnh mẽ</span>?</h2></div>
                <div><p>Hãy đến với mẫu xe hơi thể thao của chúng tôi.</p></div>
                <a href="#"></a>
            </figcaption>			
        </figure>
        <figure class="snip0019">
            <img src="~/Asset/moto.jpg" alt="sample11"/>
            <figcaption>
                <div><h2> <span style="color: rgb(25, 98, 225);"> moto </span> Và <span style="color: rgb(25, 98, 225);"> xe máy</span>?</h2></div>
            </figcaption>			
        </figure>
        <figure class="snip0019">
            <img src="https://img.lovepik.com/photo/40172/7552.jpg_wh860.jpg" alt="sample11"/>
            <figcaption>
                <div><h2 >Phụ Kiện cho xe </h2></div>
            </figcaption>			
        </figure>
      </div>
             
         
      
        
        <div class="footer"></div>
    </div>
</body>
</html>