@model Product
@{

    Layout = "~/Views/Shared/kenhLayout.cshtml";
}
<div class="forDetail">
    <div id="o-button">
        <i class="fa fa-chevron-left" aria-hidden="true"  > 
            @Html.ActionLink(" Back","index","Product",null, new { @style="color:white;text-decoration:none;" })
        </i>
    </div>
    <div style="width:700px;height:500px;">
        <img style="width:100%;margin:10% 0  0 40%" src="~/Asset/@Model.PhotoUrl"/>
    </div>
    <div id="o-info">
        <h3 style="font-size:50px">@Model.Name</h3>
        <div style="float:right;display:flex;margin-right:5%;padding-top:8%">
            <p style="color:white;margin-right:10%;margin-top:2%;font-size:40px">$@Model.Price</p>

            <button class="btn-buy2" style="padding:0" >Mua</button>
        </div>
    </div>

</div>
<div class="OverViewDetail">
    <br>
    <h2>OverView</h2>
    <table class="table table-striped table-dark" style="width:50%;margin-left:20%">
  <thead>
    <tr style="text-align:center">
      <th scope="col"></th>
      <th scope="col">Detail</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Động cơ</th>
      <td style="width:400px">@Model.Detail</td>
    </tr>
    </tbody>
    </table>
</div>